<h1 class="text-center">Recently Modified Articles</h1>
  <%= render 'articles/articles_compact', obj:@recent%>
  <div class="row mt-3">
    <div class="col text-center"><%= link_to "Sign up!", signup_path, class:"btn btn-success btn-lg" %></div>
  </div>